
.mobileShow { 
    display: none;
}
   /* Smartphone Portrait and Landscape */

@media only screen and (max-width: 600px) {
    .mobileShow {
        display: inline;
    }
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 405px;
    border: solid black;
}
  
.grid div {
    width: 15px;
    height: 15px;
}

.dot {
    background-color: green;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: cyan;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.pac-man{
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}